#map{
  display:grid;
  grid-auto-flow:row;
  grid-gap:0;
  align-content:center;
  justify-content:center;
}
#map .cell{
  width:32px;
  height:32px;
  color:white;
}
#map img{
  position:absolute;
}
#map img.hero{
  filter:drop-shadow(.1em .1em .1em black);
  transition:top .2s, left .2s;
}
