#sidebar{
  background-color:grey;
  display:grid;
  grid-auto-flow:row;
  padding:1em;
  align-content:space-evenly;
}
#sidebar>div{
  min-height:2em;
  background-color:darkgrey;
  width:90%;
  padding:0% 5%;
  border:outset black 2px;
  border-radius:.5em;
}
#sidebar #vitals>div{
  display:grid;
  grid-auto-flow:column;
  font-size:large;
  font-weight:bold;
  text-align:center;
}
#sidebar #vitals .label{
  font-weight:normal;
  text-align:left;
}
#sidebar #vitals #hp span.full{
  color:red;
}
#sidebar #vitals #xp span.full{
  color:white;
}
#sidebar #keys,#sidebar #controls{
  display:grid;
  grid-template-columns:30% 30% 30%;
  justify-content:space-between;
  grid-gap:.5em;
  padding-top:.5em;
  padding-bottom:.5em;
}
#sidebar .active{
  border-color:gold;
  background-color:lightgrey;
}
#sidebar #messages{
  height:10em;
  background-color:black;
  overflow-y:scroll;
}
#sidebar #messages p{
  color:white;
  padding:0;
  margin:0;
  font-family:monospace;
}
#sidebar #messages p:first-child{
  margin-top:.5em;
}
#sidebar #messages p.warning{
  color:yellow;
}
